<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="css/rb.css">
</head>
<body>
    <div class="pageBody">
        <%- include('../../partials/nav_bar'); %>
        <%- include('../../partials/rootbeer_actions'); %>
        <%- include('../../partials/add_rb'); %>
        <div class='search_results'>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Added By</th>
                    <th>Avg Rating</th>
                    <th></th>
                </tr>
                <% for (const result of results) { %>
                <tr>
                    <td><a href="/rb/<%-result._id %>"><%- result.name %></a></td>
                    <td><%- result.created %></td>
                    <td><%- result.user %></td>
                    <td>Avg Rating</td>
                    <td><a href="/rate/<%- result._id %>">Add Rating</a></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <script src="../javascript/portal.js"></script>  
</body>