<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="css/rb.css">
</head>
<body>
    <div class="pageBody">
        <%- include('../../partials/nav_bar'); %>
        <div class="rb_home">
            <div class="rb_home_links" >
                <a href="#">Your Rootbeers</a>
                <a href="/ratings">Your Ratings</a>
                <a href="#">Every Rootbeer</a>
                <a href="/rb_create">Add New Rootbeer</a>
            </div>
            <div class="rb_home_search">
                <form action="/rb_search" method="post">
                    <label>Search Database:</label>
                    <input type="search" name="rb_search" required />
                </form>
            </div>
        </div>
        <div class='search_results'>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Date Created</th>
                    <th>Added By</th>
                    <th>Avg Rating</th>
                    <th>Add Rating</th>
                </tr>
                <% for (const result of results) { %>
                <tr>
                    <td><a href="/rb/<%-result._id %>"><%- result.name %></a></td>
                    <td><img height=75 src="<%- result.image %>"></td>
                    <td><%- result.created.toDateString() %></td>
                    <td><%- result.created_by %></td>
                    <td>Avg Rating</td>
                    <td><a href="/rate/<%- result._id %>">Add Rating</a></td>
                </tr>
                <% } %>
            </table>
        </div>
        <footer>
            <%- include('../../partials/footer'); %>
        </footer>
    </div>
</body>