<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/portal.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/rb.css">
</head>
<body>
    <div class="pageBody">
        <%- include('../../partials/nav_bar'); %>
        <div class="rb_view">
            <img src="../<%= rb.image %>">
            <table>
                <tr>
                    <td>
                        <%= rb.name %>
                    </td>
                    <td>
                        <a href="#" onclick="slide('edit_rb', 'height', 20)">Edit Rootbeer Info</a>
                    </td>
                    <td>
                        view ratings
                    </td>
                </tr>
            </table>
        </div>
        <div class="edit_rb" id="edit_rb" >
            <form action="/rb_update/<%=rb._id%>" method="post" enctype="multipart/form-data">
                <label >Change Name</label> 
                <input type="text" name="rb_brand_name" value="<%- rb.name %>" required />
                <td class="rb_label">
                <label>Update Image</label>
                <input type="file" name="rb_image" id="rb_image" accept=".png, .jpg, .jpeg" />
                <br />
                <button type="submit" value="rootbeer" class="add_rb_button" required >
                    Update
                </button>
            </form>
        </div>
        <div class="userLogo">
            <img src="../imgs/cc_logo.png"/>
        </div>
        <div class="portalBottom">
            <div class="short">
            <img src="../imgs/short_landscape.png"/>
            </div>
            <div class="long">
            <img src="../imgs/long_landscape.png"/>
            </div>
        </div>
    </div>

    <script src="../javascript/portal.js"></script>  
</body>