<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./ll_partials/header') %>
</head>
<body>
    <div class="pageBody">
        <%- include('./ll_partials/nav_bar') %>
        <div class="rb_view">
            <div class="rb_view_top">
                <p><%= rb.name %></p>
            </div>
            <div class="rb_image">
                <img src="../<%= rb.image %>">
            </div>
            <div class="rb_links">
                <a href="#" onclick="slide('edit_rb', 'height', 20)">Edit Rootbeer Info</a>
                <a href="#">View Ratings</a>
                <a href="/rate/<%=rb._id%>">Add Rating</a>
                <div class="edit_rb" id="edit_rb" >
                    <form action="/rb_update/<%=rb._id%>" method="post" enctype="multipart/form-data">
                        <label >Change Name</label> 
                        <input type="text" name="rb_brand_name" value="<%- rb.name %>" required />
                        <td class="rb_label">
                            <label>Update Image</label>
                            <input type="file" name="rb_image" id="rb_image" accept=".png, .jpg, .jpeg" />
                            <br />
                            <button type="submit" value="rootbeer" class="add_rb_button" required >
                                Update
                            </button>
                        </form>
                    </div>
                <div class="ratings">
                <table>
                    <tr>
                        <td>Branding</td>
                        <td>After Taste</td>
                        <td>Aroma</td>
                        <td>Bite</td>
                        <td>Carbonation</td>
                        <td>Flavor</td>
                        <td>Smoothness</td>
                        <td>Sweetness</td>
                        <td>Overall</td>
                        <td>Notes</td>
                    </tr>
                    <% for (const r of ratings) { %>
                        <tr>
                            <td><%= r.branding %></td>
                            <td><%= r.after_taste %></td>
                            <td><%= r.aroma %></td>
                            <td><%= r.bite %></td>
                            <td><%= r.carbonation %></td>
                            <td><%= r.flavor %></td>
                            <td><%= r.smoothness %></td>
                            <td><%= r.sweetness %></td>
                            <td><%= r.overall %></td>
                            <td><%= r.notes %></td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
        <%- include('./ll_partials/footer') %>
    </div>

    <script src="../javascript/portal.js"></script>  
</body>
</html>