<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./ll_partials/header') %>
    <link rel="stylesheet" type="text/css" href="../css/view_rb.css">
</head>
<body>
    <div class="display_page_body">
        <%- include('./ll_partials/nav_bar') %>
        <div class="rb_view">
            <%- include('../../partials/rb_views_top') %>
            <div class="rb_all_ratings">
                <div class="update_section">
                    <%- include('./ll_partials/update_rb') %>
                    <%- include('./ll_partials/add_rating') %>
                </div>
                <%- include('../../partials/rb_views_bottom') %>
            </div>
        </div>
    </div>

    <script src="../javascript/portal.js"></script>  
</body>
</html>