<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../rb/ll_partials/header') %>
    <link rel="stylesheet" type="text/css" href="../css/view_rb.css">
</head>
<body>
    <div class="display_page_body">
       <%- include('./pub_partials/nav_links') %>
        <div class="rb_view">
            <div class="rb_view_name">
                <p><%= rb.name %></p>
            </div>
            <%- include('../../partials/rb_views') %>
            <div class="rb_ratings">
                <div class="rb_avg_ratings">
                    <table>
                        <tr>
                            <th>Avg Total</th>
                            <th colspan="4">Total Breakdown</th>
                        </tr>
                        <tr>
                            <td rowspan="4"  id="total"><%= avg.total %></td>
                            <td id="category">Brand</td>
                            <td ><%= avg.branding %></td>
                            <td id="category">After Taste</td>
                            <td><%= avg.after_taste %></td>
                        </tr>
                        <tr>
                            <td id="category">Aroma</td>
                            <td><%= avg.aroma %></td>
                            <td id="category">Sweet</td>
                            <td><%= avg.sweetness %></td>
                        </tr>
                        <tr>
                            <td id="category">Fizz</td>
                            <td><%= avg.carbonation %></td>
                            <td id="category">Flavor</td>
                            <td><%= avg.flavor %></td>
                        </tr>
                        <tr>
                            <td id="category">Bite</td>
                            <td><%= avg.bite %></td> 
                            <td id="category">Smooth</td>
                            <td><%= avg.smoothness %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="rb_all_ratings">
            </br>
            <p>Individual Ratings</p>
                <table>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Brand</th>
                        <th>After Taste</th>
                        <th>Aroma</th>
                        <th>Bite</th>
                        <th>Fizz</th>
                        <th>Flavor</th>
                        <th>Smooth</th>
                        <th>Sweet</th>
                    </tr>
                    <% for (const rating of ratings) {%>
                    <tr>
                        <td><%- rating.user %></td>
                        <td><%- rating.created %></td>
                        <td><%- rating.total %></td>
                        <td><%- rating.branding %></td>
                        <td><%- rating.after_taste %></td>
                        <td><%- rating.aroma %></td>
                        <td><%- rating.bite %></td>
                        <td><%- rating.carbonation %></td>
                        <td><%- rating.flavor %></td>
                        <td><%- rating.smoothness %></td>
                        <td><%- rating.sweetness %></td>
                    </tr>
                    <% } %>
                </table>
                <p>Write Ups</p>
                <table>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Content</th>
                    </tr>
                    <% for (const writeUp of writeUps) {%>
                    <tr>
                        <td><%- writeUp.user %></td>
                        <td><%- writeUp.created %></td>
                        <td style="text-align: left;"><%- writeUp.write_up %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
        
    </div>
    <script src="../javascript/portal.js"></script>
</body>
</html>