<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/home.css"> 
    <link rel="stylesheet" type="text/css" href="../../css/rb.css">
    <link rel="stylesheet" type="text/css" href="../../css/coin_data.css">
    <link rel="stylesheet" type="text/css" href="../../css/data_table.css">
    <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>Cactus Coin</title>
</head>
<body>
    <div class="display_page_body">
        <div class="navLinks" >
            <ul id="navLinks">
                <li>
                    <a href="/">Home </a>
                </li>
                <li>
                    <a href="/public_rbs">Root Beers</a>
                </li>
                <li>
                    <a href="/rb_about">About</a>
                </li>
                <li>
                    <a href="/crypto/markets">Crypto</a>
                </li>
                <% if (user && user.active) { %>
                    <li>
                        <a href="/home">User Page</a>
                    </li>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                <% } %>
            </ul>
            <div class="userLogo">
                <a href='/'>
                    <img src="../../imgs/cc_logo.png"/>
                </a>
            </div>
        </div>
        <div class="coin_data">
            <div class="coin_header">
                <div class="main">
                    <div class="coin_img">
                            <a href="<%-market_data.homepage%>">
                                <img src="<%-market_data.image%>"/>
                            </a>
                    </div>
                    <div class="coin_name">
                        <a href="<%-market_data.homepage%>"><%-market_data.name %></a>
                    </div>
                </div>
                <div class="meta_data">
                    <table>
                        <tr>
                            <td id="cprice_title"> Current Price</td>
                            <td id="title">Symbol</td>
                            <td><%- market_data.symbol %></td>
                            <td id="title">Genesis</td>
                            <td><%- market_data.start_date %></td>
                        </tr>
                        <tr>
                            <td rowspan=3 id="cprice">$<%-market_data.current_price%></td>
                            <td id="title">Marketcap</td>
                            <td><%- market_data.market_cap %></td>
                            <td id="title">Rank</td>
                            <td><%- market_data.rank %></td>
                        </tr>
                        <tr>
                            <td id="title">All Time High</td>
                            <td><%- market_data.ath %></td>
                            <td id="title">Date</td>
                            <td><%- market_data.ath_date %></td>
                        </tr>
                        <tr>
                            <td id="title">24 hr High</td>
                            <td><%- market_data.high_24h %></td>
                            <td id="title">24 hr Low</td>
                            <td><%- market_data.low_24h %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="coin_graph_form">
                <form action="/crypto/coin/<%-market_data.id %>" method="post">
                    <label for="period">Value</label>
                    <input type="text" id="period" name="period" type="number" required>
                    <label for="time_unit">Units:</label>
                        <select id="unit" name="unit">
                            <option id="tvalue" value="days">Days</option>
                            <option id="tvalue" value="months">Months</option>
                            <option id="tvalue" value="weeks">Weeks</option>
                            <option id="tvalue" value="years">Years</option>
                        </select>
                    </br>
                    <button type="submit" value="price_range">
                        Change Time Frame
                    </button>
                </form>
            </div>
            <div class="coin_graph">
                <div id="chart" class="price_chart"></div>
            </div>
            <div class="coin_details">
                <div class="summary">
                    <p id="coin_deets_header">Description:</p>
                    <p id="summary"><%- market_data.description.slice(0, 500) %></p>
                </div>
                <div class="categories">
                    <p id="coin_deets_header">Categories:</p>
                    <ul>
                        <% for (const c of market_data.categories) { %>
                            <li><%- c %></li>
                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="exchanges">
                <table id="exchange_table">
                    <thead>
                        <tr>
                            <th>Exchange</th>
                            <th>Volume</th>
                            <th>Target</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const ex of market_data.exchanges) { %>
                            <tr id="trust-<%-ex.trust_score%>">
                                <td><%- ex.ex_name %></td>
                                <td><%- ex.volume %></td>
                                <td><a href="<%- ex.trade_url %>"><%- ex.target %></a></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <footer>
            <div class="portalBottom">
                <div class="short">
                <img src="../../imgs/short_landscape.png"/>
                </div>
                <div class="long">
                <img src="../../imgs/long_landscape.png"/>
                </div>
            </div>
        </footer>
    </div>
    <script>
        const chart = new ApexCharts(document.querySelector("#chart"), <%- JSON.stringify(chart_options) %>);
        chart.render();
    </script>
    <script src="../../javascript/exchange_table.js"></script>
</body>
</html>