<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/home.css"> 
    <link rel="stylesheet" type="text/css" href="../../css/rb.css">
    <title>Cactus Coin</title>
</head>
<body>
    <div class="display_page_body">
        <%- include('../pub_partials/nav_links') %>

        <table>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Market Cap</th>
                <th>24 % Change</th>
            </tr>
            <% data.forEach((i, n) => { %>
            <tr>
                <td><%- n %></td>
                <td><%-i.name %></td>
                <td><%-i.symbol %></td>
                <td><%-i.price %></td>
                <td><%-i.market_cap %></td>
                <td><%-i.change_per %></td>
            </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>