<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/data_table.css">
        <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="/css/notes.css">
        <title>Cactus Coin</title>
    </head>

    <body>
        <div class="pageBody">
            <%- include('../../partials/nav_bar'); %>
            <div class="view_notes">
                <table id="notes_table">
                    <thead>
                        <tr>
                            <th>Created</th>
                            <th>Preview</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const note of notes) {%>
                            <tr>
                                <td><%- note.created %></td>
                                <td id="lean_left">
                                    <a href="/note/<%-note._id%>/view"><%- `${note.content.trim().slice(0, 20)}`%></a>
                                    </br>
                                    Tags:
                                    <% for (const tag of note.tags) {%>
                                        <a href="/notes/search/<%- tag %>"><%- tag %></a>
                                    <% } %>
                                </td>
                                <td><a href="/note/<%-note._id%>/delete">Delete</a></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </br>
                <a href="#" onclick="slide('enter_note', 'height', 400)" id="add_note_link">Add New Note</a>
            </div>
            <div class="enter_note" id="enter_note">
                <div class="note_form">
                    <form action="/note/<%= user._id %>" method="post" id="add_note">
                        <input type="text" name="title" placeholder="Title" id="note_title" required="true"/>
                        <br/>      
                        <textarea name="content" form="add_note" id="note_content" rows="10" cols="60" placeholder="Enter Content" required="true" onkeyup='preview();'></textarea>
                        <br/>
                        <input type="text" name="tags" placeholder="Tags" id="note_tags"/>
                        <br/>
                        <button type="submit" value="note" class="note_button">
                            Save
                        </button>
                    </form>
                </div>
                <div class="preview_note" id="preview_markdown">
                </div>
            </div>
            <footer>
                <%- include('../../partials/footer'); %>
            </footer>
        </div>
        <script src="/javascript/portal.js"></script>
        <script src="/javascript/notes_table.js"></script>
        <script>
            function preview() {
                document.getElementById('preview_markdown').innerHTML = marked(document.getElementById('note_content').value);
            }
        </script>
    </body>
</html>