<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="css/rb.css">
    <link rel="stylesheet" type="text/css" href="css/ratings.css">
</head>
<body>
    <div class="display_page_body">
        <%- include('../../partials/nav_bar'); %>
        <div class="view_ratings">
            <table>
                <tr>
                    <th>Root Beer</th>
                    <th>Date</th>
                    <th>Content</th>
                    <th></th>
                    <th></th>
                </tr>
                <% write_ups.forEach((wu, i) => { %>
                <tr>
                    <td><a href="/rb/<%-wu.rb_id %>"><%- wu.rb_name %></a></td>
                    <td><%- wu.created %></td>
                    <form action="/write_up/<%= wu._id %>/update" method="post" id="write_up_<%- i %>">
                        <td> 
                            <textarea rows="7" cols="100" name="write_up", form="write_up_<%- i %>"><%- wu.write_up %></textarea>
                        </td>
                        <td>
                            <button type="submit" value="rating" class="rate_button" required >Update</button>
                        </td>
                    </form>
                    <td><a href="/write_up/<%- wu._id %>/delete">Delete</a></td>
                </tr>
                <% }); %>
            </table>
        </div>
        <div class="userLogo">
            <img src="imgs/cc_logo.png"/>
        </div>
    </div>
</body>