<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); -%>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/portfolio.css">

    </head>

    <body>
        <div class="pageBody">
            <%- include('../partials/nav_bar'); %>
            <div class="portfolio_links">
                <a href="#" onclick="viewHideClass('add_transaction')">Add Transaction</a>
            </div>

            <div class="add_transaction" id="add_transaction">
                <form class="pure-form" action="/add_crypto_transaction" method="post" id="add_transaction">
                    <fieldset>
                        <div class="top_input">
                            <input list="coin_symbols" name="coin" id="coin" placeholder="coin symbol" required class="pure-input-1-4">
                            <datalist id="coin_symbols">
                                <% for (const coin of coins) { %>
                                    <option value="<%- coin %>">
                                        <% } %>
                                    </datalist>
                                    
                            <input type="text" name="exchange" id="exchange" placeholder="Exchange" required required class="pure-input-1-4"/>
                            <input type="date" name="date" placeholder="Select Date of Purchase" class="pure-input-1-4" />
                        </div>

                        <div class"bot_input>
                            <input type="number" name="size" step="0.0001" placeholder="Amount" required required class="pure-input-1-4"/>
                            <input type="number" name="price" step="0.0001" min=0 placeholder="Price" required required class="pure-input-1-4"/>
                            <input type="number" name="fee"  step="0.0001" min=0 placeholder="Fee" required required class="pure-input-1-4"/>
                            <input list="types" name="type" id="type" placeholder="Type" required class="pure-input-1-4">
                            <datalist id="types">
                                <option value="buy">
                                <option value="sell">
                            </datalist>
                        </div>
                        </br>
                        <button type="submit" value="add_transaction" class="pure-button" id="portfolio_button" >
                            Save Transaction
                        </button>
                    </fieldset>
                </form>
            </div>
            <div class="portfolio">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Coin</th>
                            <th>Price Now</th>
                            <th>Owned</th>
                            <th>Avg PPrice</th>
                            <th>% &#8710</th>
                            <th>CV</th>
                            <th>rP/L</th>
                            <th>Diff</th>
                            <th>Deets</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const t of transactions) {%>
                        <tr>
                            <td><%- t.summary.symbol %></td>
                            <td><%- t.summary.current_price %></td>
                            <td><%- t.summary.owned %></td>
                            <td><%- t.summary.avg_price %></td>
                            <td><%- t.summary.percent_growth %></td>
                            <td><%- t.summary.current_value %></td>
                            <td><%- t.summary.realized_profit %></td>
                            <td><%- t.summary.unrealized_profit %></td>
                            <td> <a href="#" onclick="viewHideDivClass('hidden_<%- t.summary.symbol %>')">+</a></td>
                        </tr>
                        <tr class='hidden_header hidden_<%- t.summary.symbol %>' style="display:none">
                            <th></th>
                            <th></th>
                            <th>Date</th>
                            <th>Exchange</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        <% for (const y of t.transactions) {%>
                        <tr class="hidden_rows hidden_<%- t.summary.symbol %>" style="display:none">
                            <td></td>
                            <td></td>
                            <td><%- y[0] %></td>
                            <td><%- y[1] %></td>
                            <td><%- y[2] %></td>
                            <td><%- y[3] %></td>
                            <td><%- y[4] %></td>
                            <td><%- y[5] %></td>
                            <td></td>
                        </tr>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>
        <script src="javascript/toggle_class_display.js"></script>
    </body>
</html>