<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); -%>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/cactus.css">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/data_table.css">
        <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    </head>
    <body>
        <div class="pageBody">
            <%- include('../partials/nav_bar'); %>
            <div class="cactus_imgs">
                <table id="cactus_table">
                    <thead>
                        <tr>
                            <th>Submitted</th>
                            <th>Taken</th>
                            <th>Image</th>
                            <th>Lon, Lat</th>
                            <th></th>
                            <th></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <% for ( const c of cacti) {%>
                    <tr>
                        <td><%- c.created %> </td>
                        <td><%- c.img_date %> </td>
                        <td>
                            <a href="#" onClick="geoPopUp('cactus_map', 'close', '<%-c.truncated_geo %>')">
                                <img src="data:image/jpg;charset=utf-8;base64,<%- c.image %>" alt="Cactus">
                            </a>
                        </td>
                        <td>
                            <a href="#" onClick="geoPopUp('cactus_map', 'close', '<%-c.truncated_geo %>')">
                                <%- c.truncated_geo.join(', ') %>
                            </a>
                        </td>
                        <td><a href="/approve_reject/<%- c.id %>/yes">Approve</a></td>
                        <td><a href="/approve_reject/<%- c.id %>/no">Reject</a></td>
                    </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div id="cactus_map" class="modal">
                <div class="modal-content"  style="text-align: center;">
                    <span class="close corner_x">&times;</span>
                    <div id="map" class="map"></div>
                </div>
            </div>
            <%- include('../partials/footer'); %>
        </div>
        <script src="/javascript/pop_out_window.js"></script>
        <script src="/javascript/cactus_table.js"></script>
    </body>
</html>